@font-face {
	font-family: 'Lilita One';
	src: url(./resources/LilitaOne-Regular.ttf);
}

* {
	box-sizing: border-box;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

body {
    background-color: #1565C0;
}

.container {
    width: 72vh;
    height: 70vh;
    margin: 10vh auto;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.container-body {
    width: 72vh;
    display: flex;
    overflow:hidden;
    flex-direction: row;
    justify-content: center;
    border-left: 1.25vh solid #FBC02D;
    border-right: 1.25vh solid #FBC02D;
}

.container-top {
    width: 72vh;
    height: 2.5vh;
    border-radius: 2.5vh 2.5vh 0 0;
    background-color: #FBC02D;
}

.container-bottom {
    width: 72vh;
    height: 10vh;
    color: #f44336;
    font-size: 5vh;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lilita One', monospace;
    background-color: #FBC02D;
    border-radius: 0 0 2.5vh 2.5vh;
}

.column {
    width: 10vh;
    display: flex;
    flex-direction: column;
    position:relative;
    overflow:hidden;
}

.column:last-child {
    width: 10vh;
}

.column::after {
    height: 60vh;
    width: 10vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: hidden;
    background-color: #3498db;
    transition: opacity 600ms;
    opacity: 0.0;
}

.column:hover::after {
    opacity: 1;
    transition: opacity 200ms;
}

.cell-parent {
    position: relative;
}

.cell {
    width:10vh;
    height:10vh;
    position: relative;
    overflow: hidden;
    visibility: visible;
    justify-content: center;
    align-items: center;
}

.cell::after {
    width:9vh;
    height:9vh;
    content:"";
    position: absolute;
    left:5%; top:5%;
    border-radius:50%;
    cursor: pointer;
    visibility: visible;
    box-shadow: 0 0 0  10vh #FBC02D;
    z-index: 3;
}

.cell::before {
    width:9.5vh;
    height:9.5vh;
    visibility: visible;
    content:"";
    position:absolute;
    left:.25vh; top:.25vh;
    border-radius:50%;
    background-color: #2980b9;
    opacity: 0;
    z-index: 3;
}

.column:hover .cell.glow::before {
    opacity: 1;
    transition: opacity 200ms;
}

.column:hover .cell.red.glow::before {
    opacity: 1;
    background-color: #e57373;
}

.column:hover .cell.black.glow::before {
    opacity: 1;
    background-color: #757575;
}

.player-piece {
    width: 10vh;
    height: 10vh;
    visibility: visible;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 0%;
    top: 0%;
}

.player-piece.red {
    background-color: #f44336;
}

.player-piece.black {
    background-color: #34495e;
}

.winning-piece {
    background-color: white !important;
}
