@font-face {
	font-family: 'Lilita One';
	src: url(./resources/LilitaOne-Regular.ttf);
}

* {
	box-sizing: border-box;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

body {
    background-color: #1565C0;
}

.container {
    width: 72.5vh;
    height: 70vh;
    margin: 10vh auto;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.container-body {
    width: 72.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 1.5vh solid #FBC02D;
    border-right: 1.5vh solid #FBC02D;
}

.container-top {
    width: 72.5vh;
    height: 2.5vh;
    border-radius: 2.5vh 2.5vh 0 0;
    background-color: #FBC02D;
}

.container-bottom {
    width: 72.5vh;
    height: 10vh;
    color: #f44336;
    font-size: 5vh;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lilita One', monospace;
    background-color: #FBC02D;
    border-radius: 0 0 2.5vh 2.5vh;
}

.container .column {
    display: flex;
    flex-direction: column;

}

.cell {
    width:10vh;
    height:10vh;
    position:relative;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell::after {
    width:9vh;
    height:9vh;
    content:"";
    position:absolute;
    left:5%; top:5%;
    border-radius:50%;
    box-shadow: 0 0 0  10vh #FBC02D;
}


.column .cell:hover:after {
    background-color: #FBC02D;
    box-shadow: 0 0 0  10vh #FBC02D;
    opacity: 0.5;
    display: visible;
}

.column:hover .cell::after {
    box-shadow: 0 0 0  10vh #FBC02D;
}

.player-piece {
    width: 9vh;
    height: 9vh;
    background-color: #f44336;
    border-radius: 50%;
}
